//output:../../html/index.html
html
  head
    style(rel="stylesheet",link="../assets/css/app.css")
      
  body
    
    
    script(src="../assets/js/jquery.min.js")
    script(src="../assets/js/bootstrap.min.js")
